# only one file
git_commit.sh
aclocal.m4
ar-lib
autom4te.cache
bin/test_one.sh
commit.sh.old
cppad/configure.hpp
test_one.cpp
test_one.exe
# only one directory
doc
doxydoc
# all directories
*.err
*/*.err
*/*/*.err
*.log
*/*.log
*/*/*.log
*.swp
*/*.swp
*/*/*.swp
*.tmp
*/*.tmp
*/*/*.tmp
build
*/build
*/*/build
# all directories with and without extension
new
new.*
*/new
*/new.*
*/*/new
*/*/new.*
doxyfile
doxyfile.*
*/doxyfile
*/doxyfile.*
*/*/doxyfile
*/*/doxyfile.*
junk
junk.*
*/junk
*/junk.*
*/*/junk
*/*/junk.*
temp
temp.*
*/temp
*/temp.*
*/*/temp
*/*/temp.*
