# script use to make git commits
git_commit.sh
# names used for temporary files
junk
junk.sed
# build directory used by other branches
build
# doxygen directory and file used by other branches
doxydoc
doxyfile
# log files
*.log
# error files
*.err
